DB_URL=jdbc:postgresql://localhost:5432/quistock
DB_USERNAME=postgres
DB_PASSWORD=change-me
ERP_API_BASE_URL=https://6a07e24cfa9b27c848fa5e20.mockapi.io/erpGenerico/
ERP_API_PRODUCTS_PATH=/products
ERP_SYNC_ENABLED=true
ERP_SYNC_FIXED_DELAY_MS=900000
ERP_SYNC_INITIAL_DELAY_MS=1000
